.seccion-receta {
    padding: 25px 15% 0;
}

.receta {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.foto-receta, .slideshow-container {
    width: 50%;
    border-radius: 25px;
}

.slideshow-container img {
    border-radius: 25px;
    width: 100%;
}

@media (max-width: 600px) {
    .receta {
        flex-direction: column;
    }

    .foto-receta, .slideshow-container {
        width: 100%;
    }
}