.carrusel {
    width: 90%;
    max-width: 120%;
    display: flex;
    flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;
padding: 1px;
}

.carrusel-fotos {
    display: flex;
    width: 200%;
   
}

.puntos {
    width: 100%;
    background-color: grey;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto {
    width: 2em;
    height: 2em;
    background-color: bisque;
    margin: 1em;
}

