@charset "utf-8";
/* CSS Document */

body{
    background-color: #f6f6f6;
}



/*----------------------MAIN----------------------*/

main{
	width: 100%;
    padding: 50px;
	display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}

.cards{
    margin:20px;
    min-height: 250px;
    border-radius: 25px;
    border: 1.5px solid black;
    background-color: #FFD6AC;
}

.recetas{
    border-radius: 25px; 
}

.nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-decoration: none !important;
}

.boton{
    background-color: #00B18B;
    border-radius: 13px;
    border: none;
    font-size: 10px;
    color: #ffff;
    margin-left: 7px;
    padding: 3px 11px;
    text-transform: uppercase;
    
}













