@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-color: #f6f6f6;
}



/*----------------------MAIN----------------------*/

main{
	width: 100%;
    padding: 50px;
	display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}

main a{
    margin:20px;
    min-height: 250px;
    border-radius: 25px;
    border: 2.5px solid black;
    background-color: #FFD6AC;
}

.recetas{
    border-radius: 25px; 
}

.nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration:none;
    color: #000000;
    text-decoration: none;
}













