/*------------------------------ESTILOS HEADER Y FOOTER------------------------------*/
/* (los ponemos aca porque se repiten en todas las paginas) */

/*------------------------------HEADER------------------------------*/

header{
    width: 100%;
    display: flex;
    background-color: #00B18B;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 0.8em;
    color: #ffffff;
}

.logo-home{
    display: flex;
}

.logo-home img{
    height: 40px;
    margin: 0px 120px;
}

nav ul{
    display: flex;
    margin: 0 100px;
}

nav ul li{
    margin: 0px 20px;
    align-items: center;
}


/*-----------------------------FOOTER----------------------------*/

footer{
    width: 100%;
    display: flex;
    background-color: #00B18B;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 0.8em;
    color: #ffffff;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

.data ul{
    margin: 0 100px;
    display: flex;
}

.data ul li{
    margin: 0 20px;
    align-items: center;
}

.redes{
    display: flex;
    bottom:10px;
    width: 10%;
    justify-content: space-between;
    margin-right: 120px;
}
.redes img{
    height: 20px;
}