.juegos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	padding-top: 80px;
	padding-bottom: 35px;
}

.iconos {
	width: 50%;
}

.juego {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.botones-jugar {
	width: 40%;
    background-color: #E14924;
    border-radius: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}