@charset "utf-8";
/* CSS Document */

.bold {
    font-weight: 700;
}

h1 {
    font-family: "spicy rice", "serif";
    font-size: 4em;
    color: #00B18B;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
}

h3 {
    margin: 5% 0;
    font-size: 2em;
    font-weight: 800;
    color: white;
}

p {
    margin: 15px 0px;
    font-size: 1em;
}

/*------------------------------MAIN------------------------------*/

/*-----------------------------LANDING----------------------------*/

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
}

.senda-logo {
    width: 410px;
    height: 400px;
    margin-right: 50px;
    background-image: url(img/img-home/logo-iso1.png);
    background-size: 100% 100%;
    animation: logo alternate .5s infinite ease-in-out;
}

@keyframes logo {
    0% {
        background-image: url(img/img-home/logo-iso1.png);
    }

    25% {
        background-image: url(img/img-home/logo-iso2.png);
    }

    50% {
        background-image: url(img/img-home/logo-iso3.png);
    }

    100% {
        background-image: url(img/img-home/logo-iso4.png);
    }
}

.bienvenida {
    width: 30%;
}

.comenzar {
    width: 40%;
    background-color: #00b18b;
    border-radius: 50px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.comenzar a {
    color: white;
    text-decoration: none;
}

.comenzar:hover {
    background-color: #007C62;
    width: 50%;
    transition: .5s;
}

.comenzar a:hover {
    font-weight: 800;
    transition: .5s;
}

/*-----------------------------PRESENTACIÓN----------------------------*/

#present {
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
    background-color: #00B18B;
}

.nosotros {
    width: 30%;
    margin-right: 50px;
}

.what {
    width: 30%;
}

/*-----------------------------SECTORES----------------------------*/

#sectores {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 9% 0 7% 0;
    gap: 2%;
}

#sectores h3 {
    text-align: center;
    font-weight: 800;
}

#sectores p {
    padding: 0% 7% 7%;
}

.nutri,
.comu,
.trivia {
    min-height: 480px;
    width: 25%;
}

.nutri p,
.comu p,
.trivia p {
    margin: 0 auto;
    font-size: .9em;
}

.nutri {
    border-radius: 25px;
    background-color: #FC8A12;
}

.nutri:hover {
    transform: scale(1.1);
    transition: 500ms;
    background-color: #FC4A12;
}

.comu {
    border-radius: 25px;
    background-color: #57BDAE;
}

.comu:hover {
    transform: scale(1.1);
    transition: 500ms;
    background-color: #4A85A6;
}

.trivia {
    border-radius: 25px;
    background-color: #E14924;
}

.trivia:hover {
    transform: scale(1.1);
    transition: 500ms;
    background-color: #E12424;
}

.foto-nutri img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.foto-comu img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.foto-trivia img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

/* Responsive */

@media (max-width:1200px) {

    #landing {
        padding: 15% 0;
    }


    .bienvenida {
        width: 40%;
    }

    .what {
        width: 40%;
    }
}

@media (max-width:768px) {
    #landing {
        flex-direction: column;
        padding: 10% 0 20% 0;
    }

    .senda-logo {
        width: 300px;
        height: 290px;
        margin: 0;
    }

    .bienvenida {
        width: 70%;
    }

    .bienvenida h1 {
        margin-top: 10px;
        text-align: center;
    }

    .bienvenida p {
        text-align: center;
    }

    .comenzar {
        margin: 30px auto 0;
    }

    #present {
        flex-direction: column;
        padding: 14% 0 14% 0;
        gap: 50px;
    }

    .nosotros,
    .what {
        margin: 0 auto;
        width: 70%;
    }

    /* Sectores */

    #sectores {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20% 0 10%;
        gap: 50px;
    }

    #sectores h3 {
        margin: 20px 0;
    }

    .nutri,
    .comu,
    .trivia {
        min-height: 550px;
        width: 70%;
    }

}