@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "montserrat", "sans-serif";
}

.bold {
    font-weight: 700;
}

h1 {
    font-family: "spicy rice", "serif";
    font-size: 4em;
    color: #00B18B;
}

h2 {
    font-weight: 400;
}

h3 {
    margin: 5% 0;
    ;
    font-size: 2em;
    font-weight: 800;
    color: white;
}

p {
    margin: 15px 0px;
    font-size: 1em;
}

/*------------------------------MAIN------------------------------*/

/*-----------------------------LANDING----------------------------*/

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
}

.senda-logo {
    display: flex;
    margin-right: 50px;
}

.senda-logo img {
    height: 400px;
}

.bienvenida {
    width: 30%;
}

.comenzar {
    width: 40%;
    background-color: #00b18b;
    border-radius: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.comenzar a {
    color: white;
    text-decoration: none;
}

/*-----------------------------PRESENTACIÓN----------------------------*/

#present {
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
}

.nosotros {
    width: 40%;
    margin-right: 5%;
}

.what {
    width: 40%;
}

/*-----------------------------SECTORES----------------------------*/

#sectores {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 0 10%;
}

#sectores h3 {
    text-align: center;
    font-weight: 800;
}

#sectores p {
    padding: 0% 7% 7%;
}

.nutri {
    width: 30%;
    min-height: 550px;
    border-radius: 25px;
    background-color: #FC8A12;
    margin-right: 2%;
}

.foto-nutri img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.comu {
    width: 30%;
    min-height: 550px;
    border-radius: 25px;
    background-color: #57BDAE;
    margin-right: 2%;
}

.foto-comu img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.trivia {
    width: 30%;
    min-height: 550px;
    border-radius: 25px;
    background-color: #E14924;
}

.foto-trivia img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}