.alineacion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    animation: slide-in-top 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.espacio-abajo2 {
    margin-bottom: 5px;
}

.espacio-abajo-abajo {
    margin-bottom: 40px;
}

.espacio-arriba {
    margin-top: 80px;
}
.redondeado {
    border-radius: 5px;
  }