/*------------------------------ESTILOS HEADER Y FOOTER------------------------------*/
/* (los ponemos aca porque se repiten en todas las paginas) */

@import url('https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Spicy+Rice&display=swap');

/*------------------------------GENERAL RESET------------------------------*/

body {
    margin: 0;
}

li {
    list-style: none;
}

/*------------------------------HEADER------------------------------*/

header{
    width: 100%;
    display: flex;
    background-color: #00B18B;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 0.8em;
    color: #ffffff;
    /*box-shadow: 2px 2px 30px 2px #000000;*/
}

.logo-home{
    display: flex;
}

.logo-home img{
    height: 40px;
    margin: 0px 120px;
}

nav ul{
    display: flex;
    margin: 0 100px;
}

nav ul li{
    margin: 0px 20px;
    align-items: center;
    list-style: none;
}

body{
    background-image: url("../img/background entero.jpg");
    background-size: 100%;
}


/*-----------------------------FOOTER----------------------------*/

footer{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-image: url("../img/footer.png");
    background-size: 100% 100%;
    align-items: center;
    padding-top: 50px;
    height: 120px;
    font-size: 0.8em;
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer .data{
    margin-left: 20px;
}

footer ul {
    margin: 0;
    display: flex;
    list-style: none;
}

footer ul li{
    margin: 0 20px;
    align-items: center;
    
}

.redes{
    display: flex;
    bottom:10px;
    width: 10%;
    justify-content: space-between;
    margin-left: 120px;
}
.redes img{
    height: 20px;
}