.juegos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	padding-top: 80px;
}

.iconos {
	width: 90%;
}

.juego {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}